/* ********* mixins ********** */
/* ***** Color ***** */
/* ********* grid ********* */
/* ***** Color ***** */
/* ******** main  ******** */
body {
  min-width: 100%;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* ********** container ************ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

._container {
  max-width: 1440px;
  padding: 0px 15px;
  margin: 0 auto;
}

.display-none {
  display: none;
}

/* ******************** style **************** */
.header__main {
  background: -webkit-gradient(linear, right top, left top, color-stop(3.39%, #203569), color-stop(97.23%, #33a648));
  background: linear-gradient(270deg, #203569 3.39%, #33a648 97.23%);
  padding: 30px 0px 15px;
}

.header__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 55px 1fr 55px -webkit-max-content;
  -ms-grid-columns: max-content 55px 1fr 55px max-content;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 55px;
}

.header__body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header__body > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.header__body > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.header__bl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 15px;
}

.bl-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 10px;
}

.bl_calc-sity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bl-contact__tell {
  font-family: "MuseoSansCyrl500";
  font-size: 21px;
  line-height: 125%;
  color: white;
  font-weight: 400;
}

.bl-contact__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 5px;
}

.bl-contact__test {
  font-family: "MuseoSansCyrl300";
  font-size: 12px;
  line-height: 110%;
  color: white;
}

.nav__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 37px 1fr 37px 1fr 37px 1fr 37px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 37px;
  padding-bottom: 9px;
  border-bottom: 1px solid white;
}

.nav__links > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nav__links > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.nav__links > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.nav__links > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.nav__links > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.nav__link {
  font-family: "MuseoSansCyrl500";
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
  text-transform: uppercase;
}
.nav__link a {
  color: white;
}