.header__main {
  background: linear-gradient(270deg, #203569 3.39%, #33a648 97.23%);
  padding: 30px 0px 15px;
}
.header__body {
  @include grid(max-content 1fr max-content, 1fr);
  grid-gap: 55px;
}
.header__bl-nav {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.bl-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 22px;
}
.bl_calc-sity {
  display: flex;
  justify-content: space-between;
}
.bl-contact__tell {
  @include fontMuseo500(21px, 125%);
  color: $colorWhite;
  font-weight: 400;
}
.bl-calc {
  @include fontMuseo500(16px, 120%);
  font-weight: 600;
  color: #33a648;
  background-color: $colorWhite;
  text-transform: uppercase;
  padding: 14px 44px 14px 92px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
}
.bl-calc::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 27px;
  width: 36px;
  height: 26px;
  background-image: url(../img/header-footer/Group-209.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bl-contact__1 {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}
.bl-contact__tell {
}
.bl-contact__test {
  @include fontMuseo300(12px, 110%);
  color: $colorWhite;
}
.nav__links {
  @include grid(1fr 1fr 1fr 1fr 1fr, 1fr);
  grid-gap: 37px;
  padding-bottom: 9px;
  border-bottom: 1px solid $colorWhite;
}
.nav__link {
  @include fontMuseo500(16px, 125%);
  font-weight: 400;
  text-transform: uppercase;
  a {
    color: $colorWhite;
  }
}
.header__bl-city {
  display: flex;
  align-items: flex-end;
  // padding-bottom: 8px;
  // border-bottom: 1px solid white;
}
.bl-city {
  @include fontMuseo300(16px, 130%);
  color: white;
  // padding-right: 140px;
  // position: relative;
}
.bl-city::after {
  // position: absolute;
  // content: "";
  // width: 0;
  // height: 0;
  // bottom: 8px;
  // right: 0;

  border-style: solid;
  border-width: 9px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}
.header-search__body {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header-search__bl-nav-pages {
  display: flex;
  align-items: flex-end;
}
.header-search {
  display: flex;
  flex: 0 1 50%;
  padding-right: 45px;
}
.header-search__bl {
  display: flex;
  width: 100%;
  position: relative;
}
.header-search__input {
  padding: 10px 15px 8px 23px;
  width: 100%;
  border-radius: 50px;
  padding-right: 140px;
  border: none;
  outline: 1px solid #33a648;
}
.header-search__bl-btn {
  position: absolute;
  grid-gap: 7px;
  top: 0;
  right: 0;
  width: max-content;
  height: 100%;
  border-radius: 50px;
  background-color: #33a648;
  padding: 0px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fontMuseo500(16px, 118%);
  // font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.header-search__bl-btn__svg {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/header-footer/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header-search__nav-pages {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}
.header-search__nav-page {
  @include fontMuseo300(12px, 120%);
}
.footer {
  background: linear-gradient(270deg, #203569 3.39%, #33a648 97.23%);
}
.footer__body {
  padding: 48px 0px 84px;
}
.footer__block {
  display: flex;
  flex-direction: column;
  grid-gap: 26px;
}
.footer__body {
  @include grid(1fr 1fr 2fr, 1fr);
  grid-gap: 40px;
}
.footer__main-block {
  display: flex;
  flex-direction: column;
  grid-gap: 33px;
}
.footer__block-title {
  @include fontMuseo500(16px, 115%);
  color: $colorWhite;
  text-transform: uppercase;
}
.footer__item-link {
  @include fontMuseo300(16px, 130%);
  color: $colorWhite;
}
.footer__items {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}
.footer__double-block {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 40px;
}
.footer__last-block_1 {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 40px;
}
.footer__double-block_2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__last-block_2 {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 40px;
}
.footer__items_1 {
  @include grid(1fr 1fr, auto);
}
.top-line {
  border-top: 1px solid $colorWhite;
  padding-top: 30px;
}
.footer__l-block {
  display: flex;
  align-items: flex-end;
}
.footer__l-block__item {
  // padding: 25% 0 0;
  width: 37px;
  height: 36px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  &_1 {
    background-image: url(../img/header-footer/SSeti_1.svg);
  }
  &_2 {
    background-image: url(../img/header-footer/SSeti_2.svg);
  }
  &_3 {
    background-image: url(../img/header-footer/SSeti_3.svg);
  }
  &_4 {
    background-image: url(../img/header-footer/SSeti_4.svg);
  }
}
.footer__l-block__items {
  display: flex;
  grid-gap: 24px;
}
.footer__contact {
  @include fontMuseo300(21px, 150%);
  color: $colorWhite;
}
.footer__contact__text {
  @include fontMuseo100(12px, 100%);
  color: $colorWhite;
}
.footer__items_contacts {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}
.bl-city {
  details {
    position: relative;
    width: 300px;
    margin-right: 1rem;
  }

  details[open] {
    z-index: 1;
  }

  summary {
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary:before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  summary:after {
    // content: "";
    // display: inline-block;
    // float: right;
    // width: 0.5rem;
    // height: 0.5rem;
    // border-bottom: 1px solid currentColor;
    // border-left: 1px solid currentColor;
    // border-bottom-left-radius: 2px;
    transform: rotate(120deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;

    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 25px;
    right: 0;
    border-style: solid;
    border-width: 9px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
  }

  summary:focus {
    outline: none;
  }

  details[open] summary:after {
    transform: rotate(60deg) translate(0%, 0%);
  }

  ul {
    width: 100%;
    background: $colorWhite;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
  }

  li {
    margin: 0;
    padding: 1rem 0;
    // border-bottom: 1px solid #ccc;
  }

  li:first-child {
    padding-top: 0;
  }

  li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  /* FAKE SELECT */

  summary.radios {
    counter-reset: radios;
  }

  summary.radios:before {
    content: var(--selection);
  }

  input[type="radio"] {
    counter-increment: radios;
    appearance: none;
    display: none;
  }

  input[type="radio"]:checked {
    display: inline;
    --display: block;
  }

  input[type="radio"]:after {
    content: attr(title);
    display: inline;
  }

  ul.list {
    counter-reset: labels;
  }

  label {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
  }

  label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
  }
  .radios {
    input {
      color: $colorWhite;
    }
  }
  .list {
    color: #33a648;
    &::-webkit-scrollbar {
      width: 10px; /* ширина scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: $colorWhite; /* цвет дорожки */
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(270deg, #203569 3.39%, #33a648 97.23%);
      border-radius: 20px; /* закругления плашки */
      border: 1px solid $colorWhite; /* padding вокруг плашки */
    }
  }
}
.custom-select {
  border-bottom: 1px solid white;
}
