.p-products1__bunner-img {
  border-radius: 0px 0px 0px 160px;
}
.header-search__mai {
}
.p-products1__bunner__fon {
  display: flex;
  grid-gap: 20px;
}
.p-products1__bl-bunner {
  position: inherit;
}
.p-products1__bunner__mini-bl-img {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  z-index: 3;
}
.p-products1__bunner-img {
  position: relative;
  z-index: 3;
}
.p-products1__bunner__shadow_1 {
  position: absolute;
  content: "";
  top: 0;
  left: -105px;
  width: 100%;
  height: 100%;
  background: #89e2c2;
  z-index: 2;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 180.5px 0px 0px 0px;
}

.p-products1__bunner__shadow_2 {
  position: absolute;
  content: "";
  top: 0;
  left: -210px;
  width: 100%;
  height: 100%;
  background: #65cda8;
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 1;
  border-radius: 180.5px 0px 0px 0px;
}
.main__bunner {
  border-top: 8px solid linear-gradient(270deg, #203569 3.39%, #33a648 97.23%);
}
.p-products1__main,
.p-products1__bunner {
  background: #4bbe95;
}
.header_products1 {
  z-index: 2;
}
.hefte .header_products1 {
  .header-search__bl-btn {
    background: #698fcd;
  }
}
.header_products1 {
  .header-search__bl-btn {
    background: #4bbe95;
  }
}
.p-products1__green {
  background: #4bbe95;
}
.p-products1__green-after::after {
  background: #4bbe95;
}
.p-products1__bunner-top-bl-img {
  padding: 25px 35px;
  display: inline-block;
  border-radius: 0px 0px 50px 50px;
  background-color: $colorWhite;
}
.p-products1__body {
  padding-top: 5px;
}
.p-products1__s-why::after,
.p-products1__s-why::before {
  display: none;
}
.swiper-wrapper {
  // overflow: hidden;
}
.p-products1__s-why__items {
  // @include grid(repeat(4, 1fr), 1fr);
  // grid-gap: 20px;
  display: flex;
}

.p-products1__why__ball {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 208px;
  border-radius: 10px 200px 200px 200px;
  max-height: 190px;
  background: #4bbe95;
  z-index: 1;
}
.p-products1__why__pos-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mn-products1__why__item__bl-img {
  height: 190px;
}
.p-products1__why__footer {
  display: flex;
  justify-content: space-between;
}
.p-products1__why__back,
.p-products1__why__next {
  display: inline-block;
  width: 80px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.p-products1__why__back {
  background-image: url(../img/why-back.svg);
}
.p-products1__why__next {
  background-image: url(../img/why-next.svg);
}
.products-sw {
  position: relative;
  .swiper-button-next,
  .swiper-button-prev {
    top: 95% !important;
  }
  .swiper-button-next {
    background-image: url(../img/next_2.svg);
  }
  .swiper-button-prev {
    background-image: url(../img/prev_2.svg);
  }
}

.s-batteries {
  background: #4bbe95;
}

.s-batteries__body {
  display: flex;
  flex-direction: column;
  grid-gap: 35px;
  padding: 35px 0 95px;
}
.rectangle_s-batteries::after {
  background: $colorWhite;
}
.text_h2_s-batteries {
  color: $colorWhite;
}
.s-batteries__items {
  @include grid(repeat(4, 1fr), auto);
  grid-column-gap: 20px;
  grid-row-gap: 32px;
}
.s-batteries__item__body {
  padding: 13px 19px 13px 13px;
  background-color: $colorWhite;
  border-radius: 10px 109px 10px 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  padding-bottom: 35px;
}
.s-batteries__series__top {
  color: #4bbe95;
}
.s-batteries__series__text {
  @include fontMuseo500(36px, 120%);
  color: #4bbe95;
}
.s-batteries__info__td__1 {
  position: relative;
  padding-left: 24px;
  @include fontMuseo300(12px, 115%);

  &_1::after {
    background-image: url(../img/batary_1.svg);
  }
  &_2::after {
    background-image: url(../img/batary_2.svg);
  }
}
.s-batteries__info__td__1::after {
  position: absolute;
  content: "";
  left: 0;
  top: 13px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.s-batteries__info__td__2 {
  @include fontMuseo300(20px, 120%);
  font-weight: 400;
  color: $colorBlack;
}
.s-batteries__info {
  width: 100%;
}
.s-batteries__series {
  border-bottom: 1px solid #4bbe95;
}
.s-batteries__info__tr {
  border-bottom: 1px solid #4bbe95;
  td {
    padding: 10px 0;
  }
  .s-batteries__info__td__1 {
    padding-left: 25px;
  }
}
.s-batteries__bl-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-batteries__text {
  @include fontMuseo300(14px, 120%);
  color: #1c1c1b;
}
.s-areas__footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.s-areas__footer__link {
  color: #555555;
  position: relative;
  padding-right: 52px;
}
.s-areas__footer__link::after {
  position: absolute;
  content: "";
  top: -3px;
  right: 0;
  width: 35px;
  height: 35px;
  background-image: url(../img/s-areac__svg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.text_h2_p-products1__s-why {
  color: #4bbe95;
}

.products1__bunner__subtitle {
  color: #203569;
}
.products1__bunner__text {
  color: #203569;
}
.products1__links .nav__link a {
  color: #203569;
}
.products1__1 p {
  color: #203569;
}
.footer_products1 {
  background: #4bbe95;
}
.footer_products1 .footer__block-title {
  color: #203569;
}
.footer_products1 .footer__item-link {
  color: #203569;
}
.footer_products1 .footer__item-link {
  color: #203569;
}
.footer_products1 .footer__contact {
  color: #203569;
}
.footer_products1 .top-line {
  border-top: 1px solid #203569;
}
.footer_products1 .footer__contact__text {
  color: #203569;
}
.footer_products1 {
}
.footer_products1 .footer__l-block__item {
  // padding: 25% 0 0;
  width: 37px;
  height: 36px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  &_1 {
    background-image: url(../img/footer_products1_1.svg);
  }
  &_2 {
    background-image: url(../img/footer_products1_2.svg);
  }
  &_3 {
    background-image: url(../img/footer_products1_3.svg);
  }
  &_4 {
    background-image: url(../img/footer_products1_4.svg);
  }
}
.header_products1 .bl-calc {
  color: #203569;
}
.header_products1 .bl-calc::after {
  background-image: url(../img/header-footer/header-calc_2.svg);
}
.p-products1__why__text {
  color: #203569;
}
.p-products1__s-why .s-areas__footer__link {
  color: #4bbe95;
}
.p-products1__s-why .s-areas__footer__link::after {
  background-image: url(../img/open-link.svg);
}
.characteristics {
  padding-bottom: 120px;
}
.characteristics__body {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}
.characteristics__table {
  width: 100%;
}
.characteristics__tr_1 {
  background: #4bbe95;
  border-radius: 30px 30px 0px 0px;
  padding: 10px;
}
.characteristics__tr_1 th:first-child {
  border-radius: 30px 0px 0px 0px;
  text-align: start;
  padding-left: 19px;
  border: none;
}
.characteristics__tr_1 th:last-child {
  border-radius: 0px 30px 0px 0px;
  padding-left: 16px;
  text-align: start;
}
.characteristics__th_1 {
  @include fontMuseo500(14px, 120%);

  color: $colorWhite;
  padding: 10px 5px 10px;
  padding-right: 18px;
  text-align: end;
  vertical-align: middle;
}
.characteristics__tr_2 {
  border-bottom: 1px solid #4bbe95;
}
.characteristics__tr_2 td:first-child {
  text-align: start;
  padding-left: 19px;
  border: none;
  text-decoration-line: underline;
}
.characteristics__tr_2 td:last-child {
  text-align: start;
  padding-left: 16px;
  text-decoration-line: underline;
}
.characteristics__td_2 {
  @include fontMuseo300(16px, 125%);
  padding: 10px 5px 12px;
  padding-right: 18px;
  text-align: end;
}
.characteristics__table th {
  border-left: 1px solid #dce2eced;
}
.characteristics__table td {
  border-left: 1px solid #dce2ec;
}
.characteristics {
  border-top: 8px solid #4bbe95;
}
.rectangle_characteristics::after {
  background-color: #4bbe95;
}
.p-products1__why__text {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.battary_contact {
}
.battary_contact .rectangle_characteristics::after {
  background: #024b4d;
}
.battary_contact .characteristics {
  border-top: 8px solid #024b4d;
}
.battary_contact .text_h2_p-products1__s-why {
  color: #024b4d;
}
.battary_contact .characteristics__tr_1 {
  background: #024b4d;
}
.battary_contact .characteristics__table tr:nth-child(odd):not(:first-child) {
  background-color: #dce2ec;
}
.battary_contact .characteristics__tr_2:not(:first-child) {
  border-bottom: none;
}
.battary_contact .characteristics__table tr {
  border-bottom: 1px solid #024b4d;
}
.battary_contact .characteristics__table td:not(:last-child) {
  border-right: 1px solid #dce2ec;
}
.battary_contact {
}
.series__items {
  display: flex;
}
.series__body {
  @include fontMuseo500(24px, 120%);
  color: $colorWhite;
  padding: 15px;
  font-weight: 600;
  background-color: transparent;
  display: block;
}
.series__active {
  color: #203569;
  background-color: $colorWhite;
}
.series .main__bunner__wrapper {
  grid-template-columns: 1fr 1fr;
}
.series__b-footer {
  background: $colorWhite;
  position: relative;
  padding-top: 40px;
}
.series__b-footer::after,
.series__b-footer::before {
  position: absolute;
  content: "";
  top: 0;

  width: 100vh;
  height: 100%;
  background: $colorWhite;
}

.series__b-footer::after {
  left: -100vh;
}
.series__b-footer::before {
  right: -100vh;
}
// series__bl
.series__bl {
  background: #203569;
  position: relative;
  // padding-top: 40px;
}
.series__bl::after,
.series__bl::before {
  position: absolute;
  content: "";
  top: 0;

  width: 100vh;
  height: 100%;
  background: #203569;
}
.series__bl::after {
  left: -100vh;
}
.series__bl::before {
  right: -100vh;
}
.series__b-footer__items {
  display: flex;
  grid-gap: 15px;
}
.series__b-footer__item-body {
  display: flex;
  flex-direction: column;
  grid-gap: 3px;
  width: 140px;
  padding: 12px;
  background: #32599e;
  border-radius: 25px;
  color: $colorWhite;
  position: relative;
  &_1::after {
    background-image: url(../img/series-bl-svg_1.svg);
  }
  &_2::after {
    background-image: url(../img/series-bl-svg_2.svg);
  }
}
.series-why_img {
  border-radius: 40px;
  object-fit: fill;
}
.series__b-footer__item-body::after {
  position: absolute;
  content: "";
  bottom: 12px;
  right: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 50px;
}
.series .main__bunner__body {
  grid-gap: 0px;
}
.series .products1__bunner__subtitle {
  margin-top: 32px;
  margin-bottom: 10px;
}
.series__b-footer__title {
  @include fontMuseo500(16px, 120%);
}
.series__b-footer__size {
  @include fontMuseo300(35px, 100%);
  padding-top: 3px;
}
.series__b-footer__last-text {
  line-height: 100%;
}
.series .main__bunner__body {
  max-width: 100%;
  padding-bottom: 0px;
}
.series__b-footer__bl-last {
  width: 120px;
}
.series__r-block {
  z-index: 1;
  position: relative;
}
.series__r-block__body {
  position: relative;
  width: 100%;

  padding: 31px 47px;

  color: #203569;
  height: 100%;
  background: #65cda8;
  border-radius: 0px 150px;
  // box-shadow: 0px 2000px 0px 200px #4bbe95;
  box-sizing: border-box;
}
.series__r-block__body::after {
  position: absolute;
  content: "";
  top: 0;
  left: -15%;
  width: 100%;
  z-index: -1;
  height: 100%;
  background: #89e2c2;
  border-radius: 0px 200px 0px 200px;
}
.series__r-block__body::before {
  position: absolute;
  content: "";
  top: 0;
  right: -15%;
  width: 100%;
  z-index: -1;
  height: 100%;
  background: #89e2c2;
  border-radius: 0px 200px 0px 200px;
}
.series__r-block__bl-img {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  height: auto;
}
.series .mn-products {
  margin-top: 50px;
}
.series-why {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.series-why__body {
  @include grid(max-content 1fr, 1fr);
  grid-gap: 60px;
}
.series-why__bl-text_big {
  @include fontMuseo300(21px, 142%);
}
.series-why__bl-text_small {
  @include fontMuseo300(16px, 130%);
}
.series-why__bl-text {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 20px;
}
.series-why__bl-text_1 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.series-why__bl-text_2 {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
.series-why {
  padding-bottom: 55px;
}
.series .characteristics {
  border-top: 8px solid #32599e;
}
.series .rectangle_characteristics::after {
  background-color: #32599e;
}
.series .text_h2_p-products1__s-why {
  color: #32599e;
}
.series .characteristics__tr_1 {
  background-color: #32599e;
}
.series_VTG .series-why__bl-text {
  display: flex;
}
.p-cards .p-products1__bunner-img {
  padding-left: 105px;
}
.p-cards .p-products1__bunner__shadow_1 {
  left: 0;
}
.p-cards .p-products1__bunner-top-bl-img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  z-index: 4;
  background: #203569;
  color: $colorWhite;
}
.p-cards .main__bunner__wrapper {
  position: relative;
}
.p-cards .p-products1__body {
  padding-top: 140px;
}
.p-cards .main__bunner__body {
  max-width: 510px;
}
.p-cards .p-products1__bunner__shadow_1 {
  border-radius: 0px 150px 0px 250px;
  transform: none;
}
.p-cards .main__bunner__img {
  border-radius: 0px 0px 0px 250px;
}
.p-cards .s-batteries {
  border-top: 8px solid $colorWhite;
}
.p-cards__bl-info {
  position: relative;
}
.p-cards__first-item {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  padding: 0px 25px 25px;
  background-color: $colorWhite;
  z-index: 1;
  border-radius: 0px 0px 50px 50px;
  height: 100%;
}
.p-cards__bl-info::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 50px 50px;
}
.p-cards__bl-img {
  display: flex;
  justify-content: start;
  align-items: center;
}
.p-cards__item__body {
  height: 100%;
}

.p-cards__bl-info {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: space-between;
}
.p-cards .s-batteries__body {
  padding-top: 75px;
}
.p-cards__item {
  position: relative;
  // margin-top: -77px;
}
.p-cards__item::after {
  position: absolute;
  content: "";
  top: -75px;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: $colorWhite;
}
.p-cards__item-footer {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.p-cards__item-link {
  text-transform: uppercase;
  padding: 22px 0px 18px;

  @include fontMuseo500(12px, 115%);
  font-weight: 600;
  position: relative;
  padding-left: 40px;
}
.p-cards__item-link::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 0;
  background-image: url(../img/Group-223.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
}
.s-batteries_battery {
  background-color: #33a648;
}
.s-batteries_brand-x {
  background-color: #1babd9;
}
.p-accumulators .series-why__bl-text {
  display: flex;
}
.p-accumulators .series-why {
  padding-top: 55px;
}
.p-accumulators .series-why__body {
  grid-gap: 30px;
}
.one-bl-text {
  display: flex;
}
.p-accumulators {
}
.s-batteries_contact {
  background: #024b4d;
}
.s-batteries_sprinter {
  background: #32599e;
}
.s-batteries_marathon {
  background-color: #028563;
}
.s-batteries_us-battery {
  background-color: #929292;
}
.s-batteries_stark_blue {
  background: #1babd9;
}
.p-solutions .main__bunner {
  background: linear-gradient(2.22deg, #ffffff 33.28%, #4bbe95 156.77%);
}
.p-solutions .main__bunner__img {
  width: 257px;
  height: 250px;
  border-radius: 0;
}

.p-solutions .p-products1__bunner__shadow_1 {
  left: 105px;
  background: #d0f5e8;
}
.p-solutions .p-products1__bunner__shadow_2 {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #65cda8;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: none;
  z-index: 1;
  border-radius: 0px 150px 0px 250px;
}
.p-solutions .main__bunner__bl-img {
  display: flex;
  justify-content: end;
  align-items: center;
}
.p-solutions .main__bunner__img {
  padding-right: 80px;
}
.p-solutions .p-products1__bunner-top-bl-img {
  background: #32599e;
}
.p-solutions .header__main {
  background: #62ddb1;
}
.p-solutions .footer {
  background: #62ddb1;
}
.p-solutions .main__bunner {
  border-top: 8px solid #62ddb1;
}
.p-solutions {
  // background: #62ddb1;
}
.p-solutions {
}
.p-solutions {
}
.p-solutions .series-why {
  padding-top: 55px;
}
.p-solutions .series-why__body {
  grid-gap: 20px;
}
.p-solutions .main__bunner__img {
  object-fit: fill;
}
.p-solutions .main__bunner__wrapper {
  grid-gap: 100px;
}
.bl-principles__body {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
.bl-principles__five {
  @include grid(200px 1fr, 1fr);
  grid-gap: 20px;
}
.bl-principles__items {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.bl-principles__item {
  display: flex;
  grid-gap: 20px;
  align-items: center;
}
.bl-principles__line {
  display: flex;
  padding: 0px 12px;
  justify-content: end;

  background: linear-gradient(
    270deg,
    #33a648 35.71%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 20px;
  &_1 {
    width: 190px;
  }
  &_2 {
    width: 160px;
  }
  &_3 {
    width: 130px;
  }
  &_4 {
    width: 100px;
  }
  &_5 {
    width: 60px;
  }
}
.bl-principles__number {
  @include fontMuseo500Italic(20px, 120%);
  color: $colorWhite;
  font-weight: 700;
  font-style: italic;
}
.bl-principles__subtitle {
  @include fontMuseo300(20px, 120%);
  font-weight: 400;
}
.company .mn-products {
  position: relative;
}
.company {
  .main__bunner {
    background-color: #33a648;
  }
}
.company .mn-products::before {
  position: absolute;
  content: "";
  top: 15%;
  left: 10%;
  background-image: url(../img/areas-fon.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 30%;
  z-index: -1;
}
.swiper-button-next,
.swiper-button-prev {
  top: 95% !important;
}
.swiper-button-prev {
  width: 43px !important;
  height: 20px !important;
  background-image: url(../img/prev.svg);
  background-position: center;
  background-repeat: no-repeat;
  &::after {
    display: none;
  }
}
.swiper-scrollbar-drag {
  background: linear-gradient(270deg, #203569 3.39%, #33a648 97.23%) !important;
  // background-color: red;
}
.swiper-button-next {
  width: 43px !important;
  height: 20px !important;
  background-image: url(../img/next.svg);
  background-position: center;
  background-repeat: no-repeat;
  &::after {
    display: none;
  }
}
.company__s-principles {
  padding-top: 40px;
}
.s-culture__body {
  padding: 37px 0px 145px;
}
.company__s-culture {
  background: #d7eae3;
  padding-top: 50px;
}
.s-culture__body {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}
.company__bunner {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
  object-fit: fill;
  background-repeat: no-repeat;
  border-radius: 75px;
  &_1 {
    background-image: url(../img/company__bunner_1.png);
  }
  &_2 {
    background-image: url(../img/company__bunner_2.png);
  }
}
.company__bunner__body {
  padding: 106px 0px 100px 63px;
}
.company__bunner__text {
  @include fontMuseo500(40px, 120%);
  color: $colorWhite;
  max-width: 400px;
}
.company__bl-clients {
  grid-gap: 17px;
  max-width: 1030px;
  margin: 0 auto;
}
.company__bl-clients_1 {
  @include grid(610px 1fr, 1fr);
  align-items: center;
}
.company__bl-clients_2 {
  @include grid(1fr 610px, 1fr);
  align-items: center;
}
.company__bl-clients__bl-text {
}
.company__bl-clients__img {
  background: #cdcdcd;
  border-radius: 38px;
}
.company__s-clients {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.company__s-team {
  background-color: $colorWhite;
}
.company .header__main {
  background: #33a648;
}
.company .footer {
  background: #33a648;
}
.p-news .main__bunner__wrapper {
  grid-template-columns: 1fr 1fr;
}
.p-news .p-products1__bunner__fon {
  height: 235px;
}
.p-news .p-products1__bunner__shadow_1 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 150px 0px 250px;
}
.p-news .p-products1__bunner-top-bl-img {
  background: #33a648;
}
.p-news .main__bunner {
  border-top: 8px solid #33a648;
}
.p-news .main__bunner {
  background: #203569;
}
.p-news .header__main {
  background: #33a648;
}
.p-news .p-products1__green {
  background: #33a648;
}
.p-news {
}
.p-news {
}
.mn-news {
  background: rgba(51, 166, 72, 0.1);
}
.s-news__body {
  @include grid(1fr 275px, 1fr);
  grid-gap: 40px;
  padding-bottom: 95px;
  padding-top: 75px;
}
.s-news__left {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}
.s-news__left-top {
  display: flex;
  justify-content: space-between;
}
.s-news__left-tag {
  @include fontMuseo500(16px, 120%);
  color: #33a648;
  font-weight: 600;
}
.s-news__tags {
  display: flex;
}
.s-news__img {
  object-fit: fill;
  border-radius: 25px;
}
.s-news__bl-text {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.s-news__right__body {
  padding: 23px 20px;
  border: 1px solid #33a648;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  grid-gap: 23px;
}
.s-news__right__title {
  @include fontMuseo500(24px, 120%);
  font-weight: 600;
}
.s-news__right__bl-clear {
  display: flex;
  justify-content: space-between;
}
.s-news__right__clear {
  @include fontMuseo500(12px, 115%);
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  color: #33a648;
}
.s-news__right__tags {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}
.s-news__tag-link {
  @include fontMuseo300(14px, 120%);
  font-weight: 400;
}
.s-news__tag-link.active {
  @include fontMuseo700(14px, 120%);
  font-weight: 700;
}
.p-news .p-products1__bunner-top-bl-img {
  position: absolute;
}
.p-news__bunner-body {
  padding-top: 135px;
}
.p-news .text_h1_p-cards {
  color: $colorWhite;
}
.p-news .p-news__bunner__subtitle {
  color: $colorWhite;
}
.p-news .p-products1__bunner__shadow_1 {
  transform: none;
}
.p-news .p-products1__bunner-img {
  border-radius: 0px 0px 0px 250px;
}
.s-appreciate__body {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  padding-bottom: 56px;
}
.s-appreciate__title {
  color: #33a648;
}
.s-appreciate__items {
  @include grid(repeat(6, 1fr), 1fr);
  grid-gap: 20px;
}
.s-appreciate__item {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.s-appreciate__bl-img {
  display: flex;
  justify-content: flex-start;
}
.s-offer {
  padding-top: 10px;
}
.s-offer__body {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  padding-bottom: 88px;
}
.s-offer__img {
  background: #33a648;
  border-radius: 16px;
  object-fit: fill;
}
.s-offer__items {
  @include grid(1fr 1fr, auto);
  grid-gap: 20px;
}
.s-offer__item {
  display: flex;
  grid-gap: 30px;
  align-items: center;
}
.s-offer__text {
  @include fontMuseo300(21px, 140%);
}
.s-profile {
  background: #ecfef8;
}
.s-profile__body {
  padding: 40px 0 60px;
  @include grid(820px 1fr, 1fr);
  grid-gap: 40px;
}
.s-profile__left {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.s-profile__right {
  display: flex;
  grid-gap: 20px;
  align-items: flex-end;
}
.s-profile__right__text {
  @include fontMuseo300(12px, 133%);
}
.s-profile__img {
  border-radius: 50%;
  object-fit: fill;
}
.s-work {
  padding-top: 15px;
}
.s-work__items {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}
.s-work__item {
  @include grid(925px 1fr, 1fr);
  grid-gap: 40px;
  padding-top: 40px;
  padding-bottom: 33px;
  border-bottom: 1px solid $colorBlack;
}
.s-work__body {
  padding-bottom: 85px;
}
.s-work__left {
  display: flex;
  flex-direction: column;
  grid-gap: 17px;
}
.s-work__top {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.s-work__bl-text {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.s-work__right {
  display: flex;
  flex-direction: column;
  grid-gap: 44px;
  align-items: flex-end;
}
.s-work__price {
  color: #33a648;
}
.s-work__right__text {
  @include fontMuseo300(12px, 133%);
  text-align: end;
}
.s-work__subtitle {
  color: #32599e;
}
.vacancy .header__main {
  background: #33a648;
}
.vacancy .main__bunner {
  border-top: 8px solid #33a648;
  background: #33a648;
}

.vacancy .footer {
  background: #33a648;
}
.vacancy .p-products1__green {
  background: #33a648;
}
.respond__back {
  padding-left: 107px;
  position: relative;
}
.respond__back::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;
  width: 85px;
  height: 20px;
  background-image: url(../img/Arrow-back.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.respond .s-work__title {
  @include fontMuseo300(32px, 118%);
  font-weight: 400;
}
.respond .s-work__item {
  border: none;
}
.respond .s-work__body {
  padding: 0;
}
.responsibilities__text {
  padding-left: 20px;
  position: relative;
}
.responsibilities__text::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: $colorBlack;
  border-radius: 50%;
}
.respond .s-offer {
  padding-top: 40px;
}

.respond .s-offer__body {
  padding-bottom: 40px;
}
.respond-form {
  background-image: url(../img/form_fon.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #ecfef8;
}
.respond-form__title {
  color: #33a648;
}
.s-form__body {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  max-width: 615px;
}
.respond-form__items {
  display: flex;
  flex-direction: column;
  grid-gap: 17px;
  width: 100%;
}
.respond-form__input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 19px 0px 16px 13px;
  @include fontMuseo300(16px, 130%);
  height: 100%;
}
.respond-form__item__text {
  height: 140px;
}
.respond-form__t-text {
  color: #33a648;
}
.respond-form__bl-files {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.respond-form__bl-files__text {
  position: relative;
  padding-left: 46px;
}
.respond-form__bl-files__text::after {
  position: absolute;
  content: "";
  top: 0;
  left: 10px;
  width: 26px;
  height: 30px;
  background-image: url(../img/files.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.respond-form__download {
  color: #32599e;
  padding: 12px 18px 13px 19px;
  border: 1px solid #32599e;
  border-radius: 50px;
  display: block;
  background-color: $colorWhite;
}
.respond-form__text {
  @include fontMuseo300(12px, 115%);
  font-weight: 400;
  color: #555555;
}
.respond-form__btn {
  background: #32599e;
  border-radius: 50px;
  font-weight: 500;
  padding: 20px 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.respond-form__footer {
  position: relative;
}
.respond-form__checkbox {
  position: absolute;
}
.respond-form__text {
  padding-left: 20px;
  display: block;
}
.hefte {
  .p-products1__green,
  .header__main,
  .footer_products1 {
    background: #698fcd;
  }
  .main__bunner {
    background: #698fcd;
    border-top: 8px solid #698fcd;
  }
  .products1__bunner__subtitle,
  .products1__bunner__text {
    color: $colorWhite;
  }
  .series__bl,
  .series__bl::after,
  .series__bl::before {
    background: #32599e;
  }
  .p-products1__bunner__shadow_1 {
    background: rgba(255, 255, 255, 0.2);
  }
}
.h-products {
  border-top: 8px solid #698fcd;
}
.h-products__bl-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h-products__body {
  padding-top: 16px;
  padding-bottom: 60px;
}
.h-products__bl-items {
  padding-top: 38px;
}
.h-products__items {
  @include grid(repeat(4, 1fr), 1fr);
  grid-gap: 22px;
}
.h-product__item {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
}
.h-product__imfo {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.h-product__img {
  border-radius: 23px;
}
.h-product__title {
  font-weight: 600;
}
.h-product__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.h-product__bl-download {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 16px;
  background-image: url(../img/hefte__save.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px;
  background-color: #32599e;
}
.p-calc .p-products1__bunner__fon {
  height: 215px;
}
.p-calc {
  background: linear-gradient(
    89.97deg,
    rgba(98, 221, 177, 0.2) 23.97%,
    rgba(105, 143, 205, 0.3) 74.46%
  );
}
.calc__bl {
  display: flex;
  flex-direction: column;
  grid-gap: 60px;
  padding: 50px 0;
}
.calc__body {
  @include grid(1fr 1fr, 1fr);
}
.calc-left {
  display: flex;
  flex-direction: column;
  grid-gap: 18px;
}
.calc-left__items {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}
.calc-left__item {
  @include grid(1fr 1fr, 1fr);
  align-items: center;
  grid-gap: 10px;
}
.calc-left__data {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}
.calc-left__input {
  // width: 100px;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  background: #ffffff;
  border-radius: 5px;
  border: none;
}
.calc-left__bl-input {
  width: 100px;
}
.calc-left__switch {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}
.calc-left__svg {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/calc-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
}
.calc-left__bl-text {
  display: flex;
  grid-gap: 5px;
  align-items: center;
  display: block;
}
.calc {
  .switch-btn {
    display: inline-block;
    width: 45px; /* ширина переключателя */
    height: 24px; /* высота переключателя */
    border-radius: 12px; /* радиус скругления */
    background: transparent; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    border: 1px solid $colorWhite;
    transition-duration: 300ms; /* анимация */
  }
  .switch-btn::after {
    content: "";
    height: 18px; /* высота кнопки */
    width: 18px; /* ширина кнопки */
    border-radius: 50%; /* радиус кнопки */
    background: #233667; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 20px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    // box-shadow: 0 0 10px 0 #999999; /* тень */
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background: transparent;
    // box-shadow: inset 0 0 10px 0 #999999; /* тень */
  }
  .switch-on::after {
    left: 2px;
    background: #32599e;
  }
}
.bl-input_1 {
  width: 72px;
}
.bl-input_2 {
  width: 70px;
}
.calc-left__radio {
  display: flex;
  grid-gap: 15px;
  /* для элемента input c type="radio" */
  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-radio */
  .custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio + label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $colorWhite;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  .custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #056bdf;
  }

  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio:focus + label::before {
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio:focus:not(:checked) + label::before {
    border-color: #80bdff;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked + label::before {
    // border-color: #0b76ef;
    background-color: #203569;

    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio:disabled + label::before {
    background-color: #e9ecef;
  }
}
.calc-right__body {
  padding: 19px 23px;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.calc-right__bl-first {
}
.calc-checkbox {
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $colorWhite;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background: #cdcdcd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked + label::before {
    border-color: #32599e;
    background-color: #32599e;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/chekbox.svg);
  }
}
.calc-right__bl-first {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}
.calc-right__chekbox {
  display: flex;
}
.calc-right__first {
  display: flex;
  grid-gap: 65px;
}
.calc-right__items {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.calc-right__item {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding-top: 25px;
  padding-right: 20px;
  border-right: 1px solid #929292;
}
.calc-right__info {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.calc-right__info-items {
  @include grid(1fr 1fr, auto);
  grid-row-gap: 12px;
  grid-column-gap: 20px;
}
.calc__bl-btn {
  display: flex;
  justify-content: center;
}
.calc__btn {
  padding: 20px 140px;
  background: #32599e;
  border-radius: 50px;
}

.calc__result {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding-top: 25px;
  border-top: 1px solid #929292;
}
.characteristics__table {
  .calc-checkbox .custom-checkbox + label::before {
    background-color: $colorWhite;
    width: 18px;
    height: 18px;
  }
  .calc-checkbox .custom-checkbox:checked + label::before {
    background-color: #32599e;
    background-size: 16px;
  }
}
.characteristics__plus {
  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
}
.characteristics__doawload_1 {
  text-decoration: underline;
}
.calc {
  .characteristics__tr_1 {
    background-color: #32599e;
  }
  .characteristics__tr_2:nth-child(odd) {
    background-color: #dce2ec;
  }
  .characteristics__tr_2 {
    border: none;
  }
  .characteristics__th_1 {
    padding-right: 10px;
  }
  .characteristics__table td {
    padding-right: 10px;
  }
}
.header-search__bl-nav-pages.noActive {
  display: none;
}
.page.noActive {
  display: none;
}
.header-search {
  display: flex;
  flex-direction: row;
  grid-gap: 40px;
}
.header-search__close {
  cursor: pointer;
  display: none;
  width: max-content;
  height: max-content;
}
.header-search__close.active {
  display: inline-block;
}
.page-search__items {
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 890px;
  display: flex;
  flex-direction: column;
  grid-gap: 60px;

  p:not(:last-child) {
    color: #33a648;
  }
}
.page-search {
  display: none;
}
.page-search.active {
  display: block;
}
.calc__table {
  background-color: $colorWhite;
}
.page-search__item {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.calc-footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.calc-footer__body {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  align-items: center;
}
.calc__table {
  border-radius: 30px;
}
