.p-products1__bunner-img {
  border-radius: 0px 0px 0px 160px;
}
.header-search__mai {
}
.p-products1__bunner__fon {
  display: flex;
  grid-gap: 20px;
}
.p-products1__bl-bunner {
  position: inherit;
}
.p-products1__bunner__mini-bl-img {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  z-index: 3;
}
.p-products1__bunner-img {
  position: relative;
  z-index: 3;
}
.p-products1__bunner__shadow_1 {
  position: absolute;
  content: "";
  top: 0;
  left: -105px;
  width: 100%;
  height: 100%;
  background: #89e2c2;
  z-index: 2;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 180.5px 0px 0px 0px;
}

.p-products1__bunner__shadow_2 {
  position: absolute;
  content: "";
  top: 0;
  left: -210px;
  width: 100%;
  height: 100%;
  background: #65cda8;
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 1;
  border-radius: 180.5px 0px 0px 0px;
}
.main__bunner {
  border-top: 8px solid #4bbe95;
}
.p-products1__main,
.p-products1__bunner {
  background: #4bbe95;
}
.p-products1__green {
  background: #4bbe95;
}
.p-products1__green-after::after {
  background: #4bbe95;
}
.p-products1__bunner-top-bl-img {
  padding: 25px 35px;
  display: inline-block;
  border-radius: 0px 0px 50px 50px;
  background-color: $colorWhite;
}
.p-products1__body {
  padding-top: 5px;
}
.p-products1__s-why::after,
.p-products1__s-why::before {
  display: none;
}
.p-products1__s-why__items {
  @include grid(repeat(4, 1fr), 1fr);
  grid-gap: 20px;
}
.p-products1__why__ball {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 208px;
  border-radius: 10px 200px 200px 200px;
  max-height: 190px;
  background: #4bbe95;
  z-index: 1;
}
.p-products1__why__pos-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mn-products1__why__item__bl-img {
  height: 190px;
}
.p-products1__why__footer {
  display: flex;
  justify-content: space-between;
}
.p-products1__why__back,
.p-products1__why__next {
  display: inline-block;
  width: 80px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.p-products1__why__back {
  background-image: url(../img/why-back.svg);
}
.p-products1__why__next {
  background-image: url(../img/why-next.svg);
}

.s-batteries {
  background: #4bbe95;
}

.s-batteries__body {
  display: flex;
  flex-direction: column;
  grid-gap: 35px;
  padding: 35px 0 95px;
}
.rectangle_s-batteries::after {
  background: $colorWhite;
}
.text_h2_s-batteries {
  color: $colorWhite;
}
.s-batteries__items {
  @include grid(repeat(4, 1fr), auto);
  grid-column-gap: 20px;
  grid-row-gap: 32px;
}
.s-batteries__item__body {
  padding: 13px 19px 13px 13px;
  background-color: $colorWhite;
  border-radius: 10px 109px 10px 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.s-batteries__series__top {
  color: #4bbe95;
}
.s-batteries__series__text {
  @include fontMuseo500(36px, 120%);
  color: #4bbe95;
}
.s-batteries__info__td__1 {
  position: relative;
  padding-left: 24px;
  @include fontMuseo300(12px, 115%);

  &_1::after {
    background-image: url(../img/batary_1.svg);
  }
  &_2::after {
    background-image: url(../img/batary_2.svg);
  }
}
.s-batteries__info__td__1::after {
  position: absolute;
  content: "";
  left: 0;
  top: 13px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.s-batteries__info__td__2 {
  @include fontMuseo300(20px, 120%);
  font-weight: 400;
  color: $colorBlack;
}
.s-batteries__info {
  width: 100%;
}
.s-batteries__series {
  border-bottom: 1px solid #4bbe95;
}
.s-batteries__info__tr {
  border-bottom: 1px solid #4bbe95;
  td {
    padding: 10px 0;
  }
  .s-batteries__info__td__1 {
    padding-left: 25px;
  }
}
.s-batteries__bl-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-batteries__text {
  @include fontMuseo300(14px, 120%);
  color: #1c1c1b;
}
.s-areas__footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.s-areas__footer__link {
  color: #555555;
  position: relative;
  padding-right: 52px;
}
.s-areas__footer__link::after {
  position: absolute;
  content: "";
  top: -3px;
  right: 0;
  width: 35px;
  height: 35px;
  background-image: url(../img/s-areac__svg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.text_h2_p-products1__s-why {
  color: #4bbe95;
}
.products1__bunner__subtitle {
  color: #203569;
}
.products1__bunner__text {
  color: #203569;
}
.products1__links .nav__link a {
  color: #203569;
}
.products1__1 p {
  color: #203569;
}
.footer_products1 {
  background: #4bbe95;
}
.footer_products1 .footer__block-title {
  color: #203569;
}
.footer_products1 .footer__item-link {
  color: #203569;
}
.footer_products1 .footer__item-link {
  color: #203569;
}
.footer_products1 .footer__contact {
  color: #203569;
}
.footer_products1 .top-line {
  border-top: 1px solid #203569;
}
.footer_products1 .footer__contact__text {
  color: #203569;
}
.footer_products1 {
}
.footer_products1 .footer__l-block__item {
  // padding: 25% 0 0;
  width: 37px;
  height: 36px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  &_1 {
    background-image: url(../img/footer_products1_1.svg);
  }
  &_2 {
    background-image: url(../img/footer_products1_2.svg);
  }
  &_3 {
    background-image: url(../img/footer_products1_3.svg);
  }
  &_4 {
    background-image: url(../img/footer_products1_4.svg);
  }
}
.header_products1 .bl-calc {
  color: #203569;
}
.header_products1 .bl-calc::after {
  background-image: url(../img/header-footer/header-calc_2.svg);
}
.p-products1__why__text {
  color: #203569;
}
.p-products1__s-why .s-areas__footer__link {
  color: #4bbe95;
}
.p-products1__s-why .s-areas__footer__link::after {
  background-image: url(../img/open-link.svg);
}
.characteristics {
  padding-bottom: 120px;
}
.characteristics__body {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}
.characteristics__table {
  width: 100%;
}
.characteristics__tr_1 {
  background: #4bbe95;
  border-radius: 30px 30px 0px 0px;
  padding: 10px;
}
.characteristics__tr_1 th:first-child {
  border-radius: 30px 0px 0px 0px;
  text-align: start;
  padding-left: 19px;
  border: none;
}
.characteristics__tr_1 th:last-child {
  border-radius: 0px 30px 0px 0px;
  padding-left: 16px;
  text-align: start;
}
.characteristics__th_1 {
  @include fontMuseo500(14px, 120%);

  color: $colorWhite;
  padding: 10px 5px 10px;
  padding-right: 18px;
  text-align: end;
  vertical-align: middle;
}
.characteristics__tr_2 {
  border-bottom: 1px solid #4bbe95;
}
.characteristics__tr_2 td:first-child {
  text-align: start;
  padding-left: 19px;
  border: none;
  text-decoration-line: underline;
}
.characteristics__tr_2 td:last-child {
  text-align: start;
  padding-left: 16px;
  text-decoration-line: underline;
}
.characteristics__td_2 {
  @include fontMuseo300(16px, 125%);
  padding: 10px 5px 12px;
  padding-right: 18px;
  text-align: end;
}
.characteristics__table th {
  border-left: 1px solid #dce2eced;
}
.characteristics__table td {
  border-left: 1px solid #dce2ec;
}
.characteristics {
  border-top: 8px solid #4bbe95;
}
.rectangle_characteristics::after {
  background-color: #4bbe95;
}
.p-products1__why__text {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.battary_contact {
}
.battary_contact .rectangle_characteristics::after {
  background: #024b4d;
}
.battary_contact .characteristics {
  border-top: 8px solid #024b4d;
}
.battary_contact .text_h2_p-products1__s-why {
  color: #024b4d;
}
.battary_contact .characteristics__tr_1 {
  background: #024b4d;
}
.battary_contact .characteristics__table tr:nth-child(odd):not(:first-child) {
  background-color: #dce2ec;
}
.battary_contact .characteristics__tr_2:not(:first-child) {
  border-bottom: none;
}
.battary_contact .characteristics__table tr {
  border-bottom: 1px solid #024b4d;
}
.battary_contact .characteristics__table td:not(:last-child) {
  border-right: 1px solid #dce2ec;
}
.battary_contact {
}
.series__items {
  display: flex;
}
.series__body {
  @include fontMuseo500(24px, 120%);
  color: $colorWhite;
  padding: 15px;
  background-color: transparent;
  display: block;
}
.series__active {
  color: #203569;
  background-color: $colorWhite;
}
.series .main__bunner__wrapper {
  grid-template-columns: 1fr 1fr;
}
.series__b-footer {
  background: $colorWhite;
  position: relative;
  padding-top: 40px;
}
.series__b-footer::after,
.series__b-footer::before {
  position: absolute;
  content: "";
  top: 0;

  width: 100vh;
  height: 100%;
  background: $colorWhite;
}

.series__b-footer::after {
  left: -100vh;
}
.series__b-footer::before {
  right: -100vh;
}
// series__bl
.series__bl {
  background: #203569;
  position: relative;
  // padding-top: 40px;
}
.series__bl::after,
.series__bl::before {
  position: absolute;
  content: "";
  top: 0;

  width: 100vh;
  height: 100%;
  background: #203569;
}
.series__bl::after {
  left: -100vh;
}
.series__bl::before {
  right: -100vh;
}
.series__b-footer__items {
  display: flex;
  grid-gap: 15px;
}
.series__b-footer__item-body {
  display: flex;
  flex-direction: column;
  grid-gap: 3px;
  width: 140px;
  padding: 12px;
  background: #32599e;
  border-radius: 25px;
  color: $colorWhite;
  position: relative;
  &_1::after {
    background-image: url(../img/series-bl-svg_1.svg);
  }
  &_2::after {
    background-image: url(../img/series-bl-svg_2.svg);
  }
}
.series-why_img {
  border-radius: 40px;
  object-fit: fill;
}
.series__b-footer__item-body::after {
  position: absolute;
  content: "";
  bottom: 12px;
  right: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 50px;
}
.series .main__bunner__body {
  grid-gap: 0px;
}
.series .products1__bunner__subtitle {
  margin-top: 32px;
  margin-bottom: 10px;
}
.series__b-footer__title {
  @include fontMuseo500(16px, 120%);
}
.series__b-footer__size {
  @include fontMuseo300(35px, 100%);
  padding-top: 3px;
}
.series__b-footer__last-text {
  line-height: 100%;
}
.series .main__bunner__body {
  max-width: 100%;
  padding-bottom: 0px;
}
.series__b-footer__bl-last {
  width: 120px;
}
.series__r-block {
  z-index: 1;
  position: relative;
}
.series__r-block__body {
  position: relative;
  width: 100%;

  padding: 31px 47px;

  color: #203569;
  height: 100%;
  background: #65cda8;
  border-radius: 0px 150px;
  // box-shadow: 0px 2000px 0px 200px #4bbe95;
  box-sizing: border-box;
}
.series__r-block__body::after {
  position: absolute;
  content: "";
  top: 0;
  left: -15%;
  width: 100%;
  z-index: -1;
  height: 100%;
  background: #89e2c2;
  border-radius: 0px 200px 0px 200px;
}
.series__r-block__body::before {
  position: absolute;
  content: "";
  top: 0;
  right: -15%;
  width: 100%;
  z-index: -1;
  height: 100%;
  background: #89e2c2;
  border-radius: 0px 200px 0px 200px;
}
.series__r-block__text {
}
.series__r-block__shadow {
}
.series__r-block__bl-img {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  height: auto;
}
.series .mn-products {
  margin-top: 50px;
}
.series-why {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.series-why__body {
  @include grid(max-content 1fr, 1fr);
  grid-gap: 60px;
}
.series-why__bl-text_big {
  @include fontMuseo300(21px, 142%);
}
.series-why__bl-text_small {
  @include fontMuseo300(16px, 130%);
}
.series-why__bl-text {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 20px;
}
.series-why__bl-text_1 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.series-why__bl-text_2 {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
.series-why {
  padding-bottom: 55px;
}
.series .characteristics {
  border-top: 8px solid #32599e;
}
.series .rectangle_characteristics::after {
  background-color: #32599e;
}
.series .text_h2_p-products1__s-why {
  color: #32599e;
}
.series .characteristics__tr_1 {
  background-color: #32599e;
}
.series {
}
.series {
}
.series {
}
.series {
}
.series_VTG .series-why__bl-text {
  display: flex;
}
.p-cards .p-products1__bunner-img {
  padding-left: 105px;
}
.p-cards .p-products1__bunner__shadow_1 {
  left: 0;
}
.p-cards .p-products1__bunner-top-bl-img {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  z-index: 4;
  background: #203569;
  color: $colorWhite;
}
.p-cards .main__bunner__wrapper {
  position: relative;
}
.p-cards .p-products1__body {
  padding-top: 140px;
}
.p-cards .main__bunner__body {
  max-width: 500px;
}
.p-cards .p-products1__bunner__shadow_1 {
  border-radius: 0px 150px 0px 250px;
  transform: none;
}
.p-cards .main__bunner__img {
  border-radius: 0px 0px 0px 250px;
}
.p-cards .s-batteries {
  border-top: 8px solid $colorWhite;
}
.p-cards__bl-info {
  position: relative;
}
.p-cards__first-item {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  padding: 0px 25px 25px;
  background-color: $colorWhite;
  z-index: 1;
  border-radius: 0px 0px 50px 50px;
  height: 100%;
}
.p-cards__bl-info::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 50px 50px;
}
.p-cards__bl-img {
  display: flex;
  justify-content: start;
  align-items: center;
}
.p-cards__item__body {
  height: 100%;
}

.p-cards__bl-info {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: space-between;
}
.p-cards .s-batteries__body {
  padding-top: 75px;
}
.p-cards__item {
  position: relative;
  // margin-top: -77px;
}
.p-cards__item::after {
  position: absolute;
  content: "";
  top: -75px;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: $colorWhite;
}
.p-cards__item-footer {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.p-cards__item-link {
  text-transform: uppercase;
  padding: 22px 0px 18px;

  @include fontMuseo500(12px, 115%);
  font-weight: 600;
  position: relative;
  padding-left: 40px;
}
.p-cards__item-link::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 0;
  background-image: url(../img/Group-223.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
}
.s-batteries_battery {
  background-color: #33a648;
}
.s-batteries_brand-x {
  background-color: #1babd9;
}
